@import "tailwindcss";

:root {
  --foreground-color: black;
  --background-color: white;

  --nav-background-color: #E3E3E3;
  --nav-tab-hover-background-color: #eee;
  --nav-selected-background-color: #D3D3D3;
  --nav-selected-background-color: black;

  --button-background-color: white;
  --button-foreground-color: black;

  --separator-color: black;

  --background-code: #f4f4f4
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

nav {
  background-color: var(--nav-background-color);
  box-shadow: inset 0 -4px 10px 0 rgb(0 0 0 / 0.25);
}

.separator {
  background-color: var(--separator-color);
}

@layer base {
  .font {
    font-family: 'Roboto';
  }

  p {
    @apply mt-3 mb-3 font-normal;
  }

  h4 {
    @apply mb-3 text-base;
    font-family: 'Roboto';
  }

  h3 {
    @apply mb-3 font-bold text-lg;
    font-family: 'Roboto';
  }

  h2 {
    @apply mb-3 font-bold text-xl;
    font-family: 'Roboto';
  }

  h1 {
    @apply mb-3 font-bold text-2xl;
    font-family: 'Roboto';
  }

  button.hid {
    @apply inline-flex items-center p-2 w-8 h-8 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200;
  }
}

pre {
  color: var(--foreground-color);
  background: var(--background-code);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: Consolas, "Courier New", Courier, monospace;
  border-radius: 3px;
  color: var(--foreground-color);
}

ul {
  list-style-type: circle;
  margin: 1em 0;
  padding: 0 1.5em;
  color: #333;
  font-size: 1rem;
  color: var(--foreground-color);
}

li {
  margin: 0.5em 0;
  line-height: 1.5;
  color: var(--foreground-color);
}

button.btn {
  color: var(--foreground-color);
}

.spin-on-hover:hover {
  animation: spin 1s linear infinite;
}

.spin {
  animation: spin 3s linear infinite;
}

.tick {
  animation: tick 0.2s ease-in-out;
}

@keyframes tick {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rocket-container {
  position: relative;
  animation: arrive-and-spin 2s ease-in-out forwards;
}

.rocket {
  transform-origin: bottom left;
}

@keyframes arrive-and-spin {
  0% {
    transform: translateX(-100%) translateY(100%) rotate(0deg);
  }

  50% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

.typing-container {
  font-size: 0.9em;
  white-space: nowrap;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  position: relative;
  animation: fadein 1s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 3px;
  background: rgba(0, 0, 0, 0.2);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#static-text {
  font-size: 0.9em;
  white-space: nowrap;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

#dynamic-text {
  font-size: 0.9em;
  white-space: nowrap;
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
}

.cursor {
  display: inline-block;
  margin-left: 3px;
  animation: blink 0.7s step-end infinite;
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
