@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: black;
  --background-color: white;

  --nav-background-color: #E3E3E3;
  --nav-tab-hover-background-color: #eee;
  --nav-selected-background-color: #D3D3D3;
  --nav-selected-background-color: black;

  --button-background-color: white;
  --button-foreground-color: black;

  --separator-color: black;

  --background-code: #f4f4f4
}

@layer base {
  .font {
    font-family: 'inter';
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

nav {
  background-color: var(--nav-background-color);
  box-shadow: inset 0 -4px 10px 0 rgb(0 0 0 / 0.25);
}

.separator {
  background-color: var(--separator-color);
}

p {
  @apply mt-3 mb-3 font-normal
}

h4 {
  @apply mb-3 font text-base
}

h3 {
  @apply mb-3 font-bold font text-lg
}

h2 {
  @apply mb-3 font-bold font text-xl
}

h1 {
  @apply mb-3 font-bold font text-2xl
}

pre {
  color: var(--foreground-color);
  background: var(--background-code);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
code {
  font-family: Consolas, "Courier New", Courier, monospace;
  border-radius: 3px;
  color: var(--foreground-color);
}

ul {
  list-style-type: circle;
  margin: 1em 0;
  padding: 0 1.5em;
  color: #333;
  font-size: 1rem;
  color: var(--foreground-color);
}

li {
  margin: 0.5em 0;
  line-height: 1.5;
  color: var(--foreground-color);
}

button.btn {
  color: var(--foreground-color);
}

button.hid {
  @apply inline-flex items-center p-2 w-8 h-8 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200;
}

.spin-on-hover:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rocket-container {
  position: relative;
  animation: arrive-and-spin 2s ease-in-out forwards;
}

.rocket {
  transform-origin: bottom left;
}

@keyframes arrive-and-spin {
  0% {
    transform: translateX(-100%) translateY(100%) rotate(0deg);
  }

  50% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}